{
  "presets": [["env", {
    "targets": {
      "node": "4.8"
    }
    }], "react", "stage-2"],
  "plugins": ["universal-import"],
  "env": {
    "development": {
      "plugins": ["react-hot-loader/babel"]
    }
  }
}
